AUTH_SECRET=qffn8asnpa52czbU/YqpcU4u7Qfr+RjyXSn/SFiqOVE=
AUTH_GOOGLE_ID=589735477304-1ct66f6qlr58rer4j1kpl13i6a2f38ir.apps.googleusercontent.com
AUTH_GOOGLE_SECRET=
AUTH_TRUST_HOST=true
ALLOWED_EMAIL_DOMAIN=goa.bits-pilani.ac.in
ADMIN_EMAILS=
CLOUDINARY_CLOUD_NAME=dlolwph1m
CLOUDINARY_API_KEY=262579352319596
CLOUDINARY_API_SECRET=QaOdsUjSkNf5S_KTjukaV1mAFEU
SUPABASE_URL=https://jeojxnfhvqlzhdzllngm.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Implb2p4bmZodnFsemhkemxsbmdtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTExMDE4NywiZXhwIjoyMDkwNjg2MTg3fQ._Uq3tfzPLI4a3iZStYu6bZdOJE4zO188meb9qmqZQ9A
NEXT_PUBLIC_SUPABASE_URL=https://jeojxnfhvqlzhdzllngm.supabase.co
